<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/UI")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*kvuli kalendari*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>
    @* Z nejakeho duvodu to musi byt zde a ne v head.*@
    @Scripts.Render("~/bundles/UI")
    @Styles.Render("~/Content/css")

    <section class="MainWrapper">
        <input type="checkbox" id="toggle" />
        <div class="Section Header">
            <div class="LogoSection">
                <div id="MenuIcon">
                    <label for="toggle" id="MenuIcon" style="hhh">&#9776</label>
                </div>
                <div id="Logo">
                    Logo
                </div>
            </div>
            <div class="Nada">Nada</div>
            <div class="UserSection">User</div>
            <div class="NadaUnderMenu"></div>
        </div>
        <div class="wrapper">
            <div class="Section MainMenu">
                <div id="accordion">
                    <ul class="no-js">
                        <li>
                            <a class="MainMenuLevel1 HasUL" href="#">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Dashboard</span>
                            </a>
                            <ul>
                                <li><a class="MainMenuLevel2" href="#">1. 1</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="MainMenuLevel1 HasUL" href="#">
                                <i class="fa fa-columns" aria-hidden="true"></i>
                                <span>Page layouts</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Fixed navbar</span>
                                    </a>
                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Boxed with default sidebar</span>
                                    </a>

                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Boxed with mini sidebar</span>
                                    </a>
                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Boxed full width</span>
                                    </a>
                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="MainMenuLevel2" href="#">2. 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="MainMenuLevel1 HasUL" href="#">
                                <i class="fa fa-tint" aria-hidden="true"></i>
                                <span> &nbsp;Item 3</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Fixed navbar</span>
                                    </a>
                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Boxed with default sidebar</span>
                                    </a>

                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Boxed with mini sidebar</span>
                                    </a>
                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="MainMenuLevel2 HasUL" href="#">
                                        <span>Boxed full width</span>
                                    </a>
                                    <ul>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 1</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 2</span></a></li>
                                        <li><a class="MainMenuLevel3" href="#"><span>2.1. 3</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="MainMenuLevel2" href="#">2. 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            @RenderSection("MainMenu", false)
            @RenderSection("BreadAndMenu", false)
            @RenderSection("PageInfo", false)
            @RenderBody()
        </div>
    </section>



</body>
<script>
    /*
    http://www.designchemical.com/blog/index.php/jquery/jquery-simple-vertical-accordion-menu/
    */
    /*  http://jsfiddle.net/yeyene/Bx5cu/29/  */
    $(document).ready(function () {


        $('li ul').slideUp();
        $('.no-js li a.MainMenuLevel1').on("click", function () {
            if ($(this).siblings('ul').is(":visible")) {
                $(this).siblings('ul').slideUp(100);
                $(this).removeClass("SelectedMenuItem");
            }
            else {
                $('ul ul').slideUp(100);
                $('.MainMenuLevel1').removeClass("SelectedMenuItem");
                $(this).addClass("SelectedMenuItem");
                $(this).siblings('ul').slideDown(200);
            }
            return false;
        });

        $('.no-js li a.MainMenuLevel2').on("click", function () {
            if ($(this).siblings('ul').is(":visible")) {
                $('ul ul ul').slideUp(400);
                $(this).removeClass("SelectedMenuItem");
            }
            else {
                $('ul ul ul').slideUp(100);
                $('.MainMenuLevel2').removeClass("SelectedMenuItem");
                $(this).addClass("SelectedMenuItem");
                $(this).siblings('ul').slideDown(200);
            }
            return false;
        });
    });

    //        https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    $(function () {
        $.datepicker.setDefaults({
            //              showOn: "both",
            firstDay: 1,
            buttonImageOnly: true,
            numberOfMonths: 2,
            showWeek: true,
            showAnim: "slideDown",
            showButtonPanel: true
        });


        $("#datepicker").datepicker($.datepicker.regional["fr"]);
    });

</script>
</html>
